@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Kdam+Thmor+Pro&display=swap');

html, body {
    height: 100%;
    font-family: 'Days One', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* Header

/* Body

/* Footer