@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Kdam+Thmor+Pro&display=swap');

html, body {
    height: 100%;
    font-family: 'Days One', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: gray;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

main {
    flex: 1 0 auto;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
    
}

/* Header */

/* Body */

#home-bg-img {
    height: 40vh;
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }


/* Footer */

